{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
  <h2>영화 리뷰</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <div class="container">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div class="d-flex justify-content-end">
    <a href="{% url 'reviews:create' %}">
      <button type="button" class="btn btn-primary mb-3">리뷰 작성</button>
    </a>
  </div>
  <div>
    <div class="row g-3">
      {% for reviews in review %}
        <a href="{% url 'reviews:detail' reviews.pk %}">
          <div class="col-12 box p-3">
            <h4>{{ reviews.title }}</h4>
            <p>{{ reviews.user }}</p>
            <p>
              <span>{{ reviews.movie_name }}</span>
              <span>{{ reviews.grade }}</span>
            </p>
            <p class="atc-cont">{{ reviews.content }}</p>
            <p class="text-end">
              {{ reviews.created_at|date:"SHORT_DATETIME_FORMAT" }}
            </p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock %}