{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div>
    <h1>{{ user.username }}님의 프로필</h1>
    <p>{{ user.full_name }}
      |
      {{user.email}}
    </p>
    <div class="d-flex mx-auto">
      <div class="text-center me-3">
        <p>팔로워</p>
        <span id="followers-count">{{ user.followers.all|length }}</span>
      </div>
      <div class="text-center">
        <p>팔로잉</p>
        <span id="followings-count">{{ user.followings.all|length }}</span>
      </div>
    </div>
      {% if request.user != user %}
        <form id="follow-form" data-user-id="{{ user.pk }}">
          {% csrf_token %}
          {% if request.user in user.followers.all %}
            <input type="submit" value="unfollow" class="btn btn-outline-dark">
          {% else %}
            <input type="submit" value="follow" class="btn btn-dark">
          {% endif %}
        </form>
      {% endif %}

  </div>
    {% if request.user == user %}
      <div>
        <a href="{% url 'accounts:update' %} " class='btn btn-outline-primary me-3 '>프로필 수정</a>
        <a href="{% url 'accounts:changePassword' %}" class='btn btn-outline-success me-3'>비밀번호 변경</a>
        <a href="{% url 'accounts:delete' %}" class='btn btn-outline-secondary'>탈퇴</a>
      </div>
    {% endif %}
  </div>
  <div class="mt-5 d-flex justify-content-between">
    <div>
      <h4>작성한 글</h4>
      <p>게시글 :
        {{user.review_set.count}}
        개</p>
      {% for review in user.review_set.all %}
        <p>{{ forloop.counter}}
          <a href="{% url 'reviews:detail' review.pk %}">{{review.title}}</a>
        </p>
      {% endfor %}
    </div>
    <div>
      <h4>작성한 댓글</h4>
      <p></p>
      <p></p>
    </div>
    <div>
      <h4>좋아요한 글</h4>
      <p></p>
      <p></p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#follow-form')
    form.addEventListener('submit', function(event) {
      event.preventDefault()
      const userId = event.target.dataset.userId
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

      axios({
        method: 'POST',
        url: `/accounts/${userId}/follow/`,
        headers: {'X-CSRFToken': csrftoken,}
      })
      .then((response) => {
        const isFollow = response.data.isFollow
        const followBtn = document.querySelector('#follow-form > input[type=submit]')
        if (isFollow === true) {
          followBtn.value = 'unfollow'
        } else {
          followBtn.value = 'follow'
        }
        const followersCountTag = document.querySelector('#followers-count')
        const followingsCountTag = document.querySelector('#followings-count')
        const followersCount = response.data.followers_count
        const followingsCount = response.data.followings_count
        followersCountTag.innerText = followersCount
        followingsCountTag.innerText = followingsCount
      })
    })
  </script>
{% endblock content %}
