{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="mt-3  d-flex justify-content-between">
    <div>

      <h2>{{ user.username }}님의 프로필</h2>
      <p>{{ user.full_name }}
        |
        {{user.email}}
      </p>
      <p>팔로우 :
        {{ user.followings.count }}
        | 팔로워 :
        {{user.followers.count}}
      </p>
      {% if request.user != user %}
        <form id="follow-form" data-user-id="{{ user.pk }}" action="">
          <button id="followBtn" type="submit" class="btn btn-primary">팔로우</button>
        </form>
      {% endif %}
    </div>
    {% if request.user == user %}
      <div>
        <a href="{% url 'accounts:update' %} " class='btn btn-outline-primary me-3 '>프로필 수정</a>
        <a href="{% url 'accounts:changePassword' %}" class='btn btn-outline-success me-3'>비밀번호 변경</a>
        <a href="{% url 'accounts:delete' %}" class='btn btn-outline-secondary'>탈퇴</a>
      </div>
    {% endif %}
  </div>
  <div class="mt-5 d-flex justify-content-between">
    <div>
      <h4>작성한 글</h4>
      <p>게시글 :
        {{user.review_set.count}}
        개</p>
      {% for review in user.review_set.all %}
        <p>{{ forloop.counter}}
          <a href="{% url 'reviews:detail' review.pk %}">{{review.title}}</a>
        </p>
      {% endfor %}
    </div>
    <div>
      <h4>작성한 댓글</h4>
      <p></p>
      <p></p>
    </div>
    <div>
      <h4>좋아요한 글</h4>
      <p></p>
      <p></p>
    </div>
  </div>
{% endblock content %}
