{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div>
    <h1>{{ user.username }}님의 프로필</h1>
    <p>{{ user.full_name }}
      |
      {{user.email}}
    </p>
    <p>팔로우 :
      {{ user.followings.count }}
      | 팔로워 :
      {{user.followers.count}}
      {% if request.user != user %}
        <form id="follow-form" data-user-id="{{ user.pk }}" action="">
          <button id="followBtn" type="submit" class="btn btn-primary">팔로우</button>
        </form>
      {% endif %}
    </p>
  </div>
  {% if request.user == user %}
    <div class="mt-3">
      <a href="{% url 'accounts:update' %} " class='btn btn-outline-primary'>프로필 수정</a>
      <a href="{% url 'accounts:changePassword' %}" class='btn btn-outline-success'>비밀번호 변경</a>
      <a href="{% url 'accounts:delete' %}" class='btn btn-outline-secondary'>탈퇴</a>
    </div>
  {% endif %}
  <div>
    <h4>작성한 글</h4>
    <p></p>
    <p></p>
  </div>
  <div>
    <h4>작성한 댓글</h4>
    <p></p>
    <p></p>
  </div>
  <div>
    <h4>좋아요한 글</h4>
    <p></p>
    <p></p>
  </div>
{% endblock content %}
